In [1]:
import os
import pandas as pd

import nltk                                         #Natural language processing tool-kit
from nltk.corpus import stopwords                   #Stopwords corpus
from nltk.stem import PorterStemmer   

from scene.data.preprocessing.preprocess import clean_special_chars, clean_numbers

In [2]:
DATAPATH = '/Users/yngtodd/src/kaggle/scene/data/splits/small_val/csv'
trainpath = os.path.join(DATAPATH, 'train.csv')
valpath = os.path.join(DATAPATH, 'val.csv')
testpath = os.path.join(DATAPATH, 'test.csv')

In [3]:
train = pd.read_csv(trainpath)
val = pd.read_csv(valpath)
test = pd.read_csv(testpath)

In [4]:
train[0:5]

      id                                               text     genre  labels
0  26123  OICES coming from the living room. INT. LIVING...  thriller       8
1  15843  n exotic looking container full of dark liquid...  thriller       8
2   7385  at the board game. DANNY What is this, Staling...     drama       3
3  17645  ng, sir. I, on the other hand, am in a positio...  thriller       8
4  25175  e how in the count room nobody ever seems to s...     drama       3

In [5]:
train['text'] = train['text'].str.lower()

In [6]:
# def clean_text(df):
#     for i, row in df.iterrows():
#         row

In [7]:
len(train['text'][2])

1000

In [8]:
stop = set(stopwords.words('english')) 
print(stop)

{"mightn't", 'aren', 'hadn', 'a', 'don', 'hers', 'the', 'why', 'mustn', "hasn't", 'is', 'had', 'in', 'about', "wasn't", 'as', 'ours', "that'll", 'during', 'doesn', "mustn't", 'was', 'has', 'against', 'off', 'won', 'then', "shouldn't", "haven't", 'did', "you'd", 'down', 'once', 'through', 'yourself', 'those', 'its', "wouldn't", 'does', 'our', 'only', 'when', "you've", 'these', 'are', 'o', 'myself', "should've", 'them', 'he', 'where', 'm', 'most', 'itself', 'not', 'ma', 'wouldn', 'which', 'with', 'any', 'be', 'having', 'you', 'yours', 'to', 'own', 'under', "doesn't", 'while', 'how', 'both', 'nor', 'over', "you're", 'yourselves', 's', 'or', 'here', 'and', "isn't", 've', 'couldn', 'y', 'mightn', "won't", 'we', "it's", 'doing', 'at', 'me', 'of', 'there', 'himself', 'because', "shan't", 'just', 'for', 'haven', 'an', 'few', 'have', 'needn', 'same', 'hasn', 'were', 'didn', "hadn't", 'shan', 'what', 'themselves', 'shouldn', 'other', 'too', 'up', 'from', 'his', 'before', 'more', 'isn', 'theirs', 'on', 'above', 'ain', "didn't", 'am', 'their', 'after', 're', 'by', 'being', 'each', 'should', "aren't", 'd', 'she', "weren't", 'whom', "needn't", 'they', 'your', "she's", 'such', 'if', 'further', 'below', 't', 'it', 'can', 'him', 'her', 'wasn', "you'll", 'all', 'into', 'so', 'my', 'who', 'this', 'but', 'will', 'i', 'weren', 'now', 'out', 'no', 'again', 'been', 'until', 'between', 'herself', "don't", "couldn't", 'do', 'ourselves', 'that', 'some', 'than', 'very', 'll'}

In [9]:
text = train['text']

In [31]:
import re

def clean(text):
    temp =[]
    snow = nltk.stem.SnowballStemmer('english')
    for sentence in text:
        sentence = sentence.lower()                 # Converting to lowercase
        cleanr = re.compile('<.*?>')
        sentence = re.sub(cleanr, ' ', sentence)        #Removing HTML tags
        sentence = re.sub(r'[?|!|\'|"|#]',r'',sentence)
        sentence = re.sub(r'[.|,|)|(|\|/]',r' ',sentence)        #Removing Punctuations

        words = [snow.stem(word) for word in sentence.split() if word not in stopwords.words('english')]   # Stemming and removing stopwords
        temp.append(words)

    text = temp
    return text

In [15]:
train['text'] = text

In [16]:
train[0:5]

      id                                               text     genre  labels
0  26123  [oic, come, live, room, int, live, room, famil...  thriller       8
1  15843  [n, exot, look, contain, full, dark, liquid, g...  thriller       8
2   7385  [board, game, danni, stalingrad, whit, gettysb...     drama       3
3  17645  [ng, sir, hand, posit, grant, noth, see, remai...  thriller       8
4  25175  [e, count, room, nobodi, ever, seem, see, anyt...     drama       3

In [17]:
x = text

In [20]:
tmp = []
for sentence in x:
    tmp.append(' '.join(sentence))

In [24]:
tmp[3]

'ng sir hand posit grant noth see remain ship compani crew botani bay maroon fifteen year ago captain jame kirk terrel listen men women havent khan save strength captain peopl sworn live die command two hundr year born mean e chekov never told take chekhov amus captain never told enterpris pick botani bay lost space year nineteen nineti six ship compani cryogen freez terrel ive never even met admir kirk khan admir admir admir kirk continu 21 24 continu 2 24 khan contd never told admir kirk sent seventi us exil barren sand heap content cargo bay sustain us chekov lie ceti alpha five life fair chanc khan'

In [25]:
train['text'] = tmp

In [26]:
train[0:10]

      id                                               text     genre  labels
0  26123  oic come live room int live room famili cheer ...  thriller       8
1  15843  n exot look contain full dark liquid guinan tw...  thriller       8
2   7385  board game danni stalingrad whit gettysburg re...     drama       3
3  17645  ng sir hand posit grant noth see remain ship c...  thriller       8
4  25175  e count room nobodi ever seem see anyth someho...     drama       3
5   6256  bed night brian jennif rhythm breath deepli wa...     drama       3
6  15167  ct beam heat vision shoot hero eye strike stee...    action       0
7   8340  ie father reach altar prissi man place posit b...    comedy       2
8   7808  dust look skyward loft area fox move ladder st...    horror       4
9  16011  ng folder box reed im done machin victor preci...    action       0

In [27]:
OUTPATH = '/Users/yngtodd/src/kaggle/scene/data/splits/small_val/cleaned'

In [28]:
trainpath = os.path.join(OUTPATH, 'train.csv')
train.to_csv(trainpath, index=False)

### Validation Set

In [30]:
valtext = val['text']

In [ ]:
valtext = clean(valtext)