### A Wild Dataset has Appeared!

In [49]:
import os
import numpy as np
import pandas as pd

from scene.data.external.imsdb import sample_from_genre
from scene.data.external.imsdb import create_genre_dataframe

In [93]:
original_data_path = '/Users/yngtodd/src/kaggle/scene/data/splits/small_val/csv/train.csv'
datapath = '/Users/yngtodd/data/imsdb_raw_nov_2015/external'
outpath = 'Users/yngtodd/'

We need a number of samples from each genre to balance out the dataset.

In [130]:
num_action = 8000 - 2392
num_adventure = 8000 - 147
num_comedy = 8000 - 2941
num_horror = 8000 - 456
num_romance = 8000 - 63
num_scifi = 8000 - 613
num_thriller = 8000 - 6824

The Other category is special.

In [134]:
num_other = 8000 - 270
# There are 15 categories that could fall in other.
num_other = num_other // 15

otherpath = '/Users/yngtodd/data/imsdb_raw_nov_2015/'

In [137]:
def get_genre_path(genre, imsdb_path=otherpath):
    return os.path.join(imsdb_path, genre)

In [5]:
action_path = get_genre_path('Action')
adventure_path = get_genre_path('Adventure')
comedy_path = get_genre_path('Comedy')
horror_path = get_genre_path('Horror')
romance_path = get_genre_path('Romance')
scifi_path = get_genre_path('Sci-Fi')
thriller_path = get_genre_path('Thriller')

### Create augmented sets

In [15]:
action = create_genre_dataframe('action', action_path, num_action, 1111)

In [16]:
adventure = create_genre_dataframe('adventure', adventure_path, num_adventure, 2222)

In [17]:
comedy = create_genre_dataframe('comedy', comedy_path, num_comedy, 3333)

In [18]:
horror = create_genre_dataframe('horror', horror_path, num_horror, 4444)

In [19]:
romance = create_genre_dataframe('romance', romance_path, num_romance, 5555)

In [20]:
scifi = create_genre_dataframe('sci-fi', scifi_path, num_scifi, 6666)

In [21]:
thriller = create_genre_dataframe('thriller', thriller_path, num_thriller, 7777)

### Create and OTHER dataset.

In [143]:
def get_other_subset(genre):
    path = get_genre_path(genre)
    df = create_genre_dataframe('other', path, num_other, 8888)
    return df

In [144]:
animation = get_other_subset('Animation')

In [145]:
biography = get_other_subset('Biography')

In [146]:
crime = get_other_subset('Crime')

In [147]:
family = get_other_subset('Family')

In [148]:
film_noir = get_other_subset('Film-Noir')

In [149]:
history = get_other_subset('History')

In [150]:
music = get_other_subset('Music')

In [151]:
musical = get_other_subset('Musical')

In [152]:
mystery = get_other_subset('Mystery')

In [153]:
short = get_other_subset('Short')

In [154]:
sport = get_other_subset('Sport')

In [155]:
war = get_other_subset('War')

In [156]:
western = get_other_subset('Western')

In [158]:
other_data = [animation, biography, crime, family, film_noir, history, music, musical, mystery, short, war, western]
other = pd.concat(other_data)

In [160]:
other[:10]

      id                                               text  genre
0  88880  s voice returned, SPEAKS to her.  CAT  You kno...  other
1  88881  to tickle your  eyes and ears and making heart...  other
2  88882  CIBLE, along with their DOGS, are set up at  a...  other
3  88883  ns, and braids, and....  Her voice trails off....  other
4  88884  LT DOWN to view  Coraline crossing frame on a ...  other
5  88885  LS,  Coraline sees him for the first time. Wit...  other
6  88886  s study.  INT. OTHER HALLWAY - SAME  Coraline ...  other
7  88887  nd it.  CORALINE  (WHISPERS)  I can't look!  O...  other
8  88888  GRANDMOTHER (O.C.)  Wyborne!  Wybie turns away...  other
9  88889  rners of his mouth impossibly far.  OTHER FATH...  other

### Concatenate Datasets

In [27]:
all_data = [action, adventure, comedy, horror, romance, scifi, thriller]

In [28]:
augmented_data = pd.concat(all_data)

In [31]:
augmented_data.shape

(42564, 3)

In [102]:
orig = pd.read_csv(original_data_path)
labels = orig.pop('labels')

In [103]:
new_train = pd.concat([orig, augmented_data])

In [104]:
orig.shape

(20321, 3)

In [105]:
new_train.shape

(62885, 3)

In [106]:
orig[0:10]

      id                                               text     genre
0  26123  OICES coming from the living room. INT. LIVING...  thriller
1  15843  n exotic looking container full of dark liquid...  thriller
2   7385  at the board game. DANNY What is this, Staling...     drama
3  17645  ng, sir. I, on the other hand, am in a positio...  thriller
4  25175  e how in the count room nobody ever seems to s...     drama
5   6256   BED NIGHT Brian and Jennifer are into the rhy...     drama
6  15167  CT A beam of heat vision Shoots from our hero'...    action
7   8340  ie and her father have reached the altar. The ...    comedy
8   7808  dusts herself off. Looking skyward to the loft...    horror
9  16011  ng a folder from a box. REED But I'm not done ...    action

In [107]:
new_train[:10]

      id                                               text     genre
0  26123  OICES coming from the living room. INT. LIVING...  thriller
1  15843  n exotic looking container full of dark liquid...  thriller
2   7385  at the board game. DANNY What is this, Staling...     drama
3  17645  ng, sir. I, on the other hand, am in a positio...  thriller
4  25175  e how in the count room nobody ever seems to s...     drama
5   6256   BED NIGHT Brian and Jennifer are into the rhy...     drama
6  15167  CT A beam of heat vision Shoots from our hero'...    action
7   8340  ie and her father have reached the altar. The ...    comedy
8   7808  dusts herself off. Looking skyward to the loft...    horror
9  16011  ng a folder from a box. REED But I'm not done ...    action

In [166]:
outpath = '/Users/yngtodd/src/kaggle/scene/data/splits/small_val/full_augment/train.csv'

In [109]:
new_train.to_csv(outpath, index=False)

In [161]:
train = pd.read_csv(outpath)

In [162]:
train[-10:]

             id                                               text      genre
62875  22221829   artifacts.  CHATTAR LAL  A very fine collecti...  adventure
62876   2222351  t. It's a crowd of prisoners in Central  Park....  adventure
62877  11111500   A.T." PULL BACK to reveal it pinned to Virgil...     action
62878      2618  Following it are a half dozen miners' cars. Th...      drama
62879  33332046  last lingering  look.  ROB  Can I buy this Oti...     comedy
62880   5555890  hat everyone did.  WILLIAM  Bloody hell, I can...    romance
62881  44442536  dust and cobwebs are housed behind an iron gri...     horror
62882  66661794  't believe  who's in on it.  MARLON  (distract...     sci-fi
62883      9544  lls asleep by a dumpster, covering himself in ...   thriller
62884  22221897  .  She accidentally makes eye contact with Wil...  adventure

In [164]:
newtrain = pd.concat([train, other])

In [165]:
from sklearn.utils import shuffle
df = shuffle(newtrain)

In [167]:
df[:10]

             id                                               text      genre
54470     26744  Threepio, Human Cyborg relations, and this is ...     action
26898   1111365  s rigid salutes with a sour  yeah-right-leave-...     action
62856  33333321  on the tie and  everything. And can you bring ...     comedy
55749  55556082  im--a KNOCK on the door and the dog  YAPPING. ...    romance
7219   22223303  F  Long range communication is  impossible as ...  adventure
28028  22222437  IPTYCHS FEATURING ALL THE  TITLE CARDS EXCEPT ...  adventure
7762   44445856   in  hell than serve in heaven." Well, I'm  ge...     horror
60046  66661758  . Truman rushes at the man.  TRUMAN  Leave her...     sci-fi
43338  33332017  RTMENT STAIRWELL 24  MAX  "Cutie"?  CHARLES  T...     comedy
59802      1176  ession has passed, they're approaching LESLIE ...      drama

In [122]:
df.shape

(62885, 3)

In [123]:
df.to_csv(outpath, index=False)

In [126]:
valpath = '/Users/yngtodd/src/kaggle/scene/data/splits/small_val/augmented/val.csv'

In [127]:
val = pd.read_csv(valpath)

In [129]:
val[:10]

      id                                               text     genre  labels
0  19565  tears come. MAC Hey...hey... He starts to hold...  thriller       8
1   4442  om her wallet. POLLY Searle's Rent a Bike, the...  thriller       8
2  12125   here stinks of trouble. We should make the be...  thriller       8
3   5116  with the Japanese kids. Ishmael with his frien...     drama       3
4  25014  ly, you can give all the credit for Hell to my...    comedy       2
5  14859  n the roof of my mouth, where nobody could rea...     drama       3
6  24517  e table Warren Wayne smiles as he listens to t...    action       0
7  19068  ondition, I was wondering if you would like to...    action       0
8  26890  s relaxed manner. INT. POLICE CAR There are tw...     drama       3
9  25162   is. She walks back to the bedroom and closes ...    horror       4