In [11]:
import os
import numpy as np
import pandas as pd

from scene.data import DataSet
from torchtext.data import Iterator
from scene.data.loaders import BatchWrapper, BucketLoader

In [2]:
DATAPATH = '/home/ygx/dev/kaggle/scene/data/splits/csv/'

In [3]:
data = DataSet(DATAPATH)
train, val, test = data.load_splits()

Tokenizing data...

In [4]:
data.textfield.build_vocab(train, vectors='glove.6B.100d')
data.textfield.vocab.vectors.shape

torch.Size([54294, 100])

In [5]:
bucket = BucketLoader(
    train, 
    val,   
    batch_sizes=(16, 16),
    device='cpu'
)

train_iter, val_iter = bucket.load_iterators()
trainloader, valloader = BatchWrapper(train_iter), BatchWrapper(val_iter)

### Inspect Data

In [13]:
trainpath = os.path.join(DATAPATH, 'train.csv')
train_df = pd.read_csv(trainpath)

In [19]:
for i in train_df.labels:
    if not isinstance(i, int):
        print(f'element {i} is of type {type(i)}')

In [20]:
train_df[0:5]

      id                                               text     genre  labels
0   7688   waves the Boy down into the cellar. The Boy d...     drama       3
1  10801  rge the beefy jerks, who bolt for a glass part...    comedy       2
2   5212  se You must now be warned! the danger to thyse...  thriller       8
3  20313  , but it looks like Frank is crying. JULIA Fra...     drama       3
4  18121  EX is pacing back and forth. LENNY struts back...    action       0

In [21]:
train_df.columns

Index(['id', 'text', 'genre', 'labels'], dtype='object')