In [23]:
import os
import numpy as np
import pandas as pd

In [4]:
DATAPATH = '/Users/yngtodd/src/kaggle/scene/data/splits/small_val/csv'
TRAINPATH = os.path.join(DATAPATH, 'train.csv')
VALPATH = os.path.join(DATAPATH, 'val.csv')
TESTPATH = os.path.join(DATAPATH, 'test.csv')

In [5]:
train = pd.read_csv(TRAINPATH)
val = pd.read_csv(VALPATH)
test = pd.read_csv(TESTPATH)

In [6]:
train[0:5]

      id                                               text     genre  labels
0  26123  OICES coming from the living room. INT. LIVING...  thriller       8
1  15843  n exotic looking container full of dark liquid...  thriller       8
2   7385  at the board game. DANNY What is this, Staling...     drama       3
3  17645  ng, sir. I, on the other hand, am in a positio...  thriller       8
4  25175  e how in the count room nobody ever seems to s...     drama       3

In [8]:
OUTPATH = '/Users/yngtodd/src/kaggle/scene/data/splits/small_val/sans_header'
OUTTRAIN = os.path.join(OUTPATH, 'train.csv')
OUTVAL = os.path.join(OUTPATH, 'val.csv')
OUTTEST = os.path.join(OUTPATH, 'test.csv')

In [9]:
train.to_csv(OUTTRAIN, index=False, header=False)
val.to_csv(OUTVAL, index=False, header=False)
test.to_csv(OUTTEST, index=False, header=False)

In [16]:
train = pd.read_csv(OUTTRAIN, header=None)

In [21]:
genres = train[:][2].values

In [24]:
unique, counts = np.unique(genres, return_counts=True)

In [25]:
unique

array(['action', 'adventure', 'comedy', 'drama', 'horror', 'other',
       'romance', 'sci-fi', 'thriller'], dtype=object)